* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 350px;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  text-align: center;

  background-color: #fef6e4;
}

.display {
  display: none;
}

main {
  /* border: 2px solid; */
  width: 80%;
  max-width: 400px;

  margin-top: 50px;

  margin-inline: auto;
}


main h1 {
  color: #001858;
  margin-bottom: 40px;
}

#btnShowPhrase {
  /* width: 80%; */
  font-weight: 700;
  font-size: 18px;

  padding: 20px;
  border: none;
  border-radius: 5px;
  background-color: #f582ae;
  cursor: pointer;

  color: #001858;
  filter: drop-shadow(5px 5px 4px rgba(105, 105, 105, 0.4));
  transition: filter 0.2s;
}
#btnShowPhrase:active {
  filter: brightness(1.2);
}

#phraseContainer {
  margin-top: 32px;
  background-color: #fffffe;
  padding: 24px;
  border-radius: 5px;
  filter: drop-shadow(5px 5px 4px rgba(105, 105, 105, 0.4));

  transition: opacity 1s;
}

#phraseContainer p {
  font-family: 'Englebert', sans-serif;
  font-size: 24px;
  font-style: italic;
  color: #172c66;
}

.attribution {
  margin-top: 18px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}


@media (max-width: 440px) {
  main img{
    width: 100%;
  }
}